.kuang{
    width:90%;
}
.nav ul li a{
    font-size: 1.6em;
}
.nav_content ul li h4{
    font-size:1.5em;
}

#bottom .neirong p{
    font-size:1.2em;
}
#bottom .neirong h4{
    font-size:1.4em;
}
#bottom .neirong span{
    font-size:1em;
}
#picture div div h3{
    font-size:1.6em;
}
#picture div div p{
    font-size:1.4em;
}
#middle h3{
    font-size: 1.5em;
}
.header{
    float: left;
    overflow: hidden;
    width:18%;
}
.heading{
    width: 90px;
    height: 90px;
    background: url("../img/food-sense.png") no-repeat 0 0;
    border:1px solid red;
    margin-left:20px;
}
.nav{
    text-align: left;
    margin-top:20px;
    width: 100%
}
.nav ul{
    list-style: none;
    padding:0;
}
.nav ul li{
    position:relative;
    height:32px;
    line-height:32px;
    margin-bottom: 18px;

}
.nav ul li img{
    display:block;
    margin-top:auto;
    margin-bottom:auto;
    top:0;
    bottom:0;
    position: absolute;
    width:33%;
}
.nav ul li a{
    display:block;
    position:absolute;
    text-align: left;
    height:32px;
    left:40%;
    width:70%;

}



/******************/
.content{
    width:80%;
    padding-bottom:30px;
}
#picture img{
    max-width:100%;
}
#picture>div{
    overflow: hidden;
    position:absolute;
    top:0;
}
.onpicture_1{
    left:4%;/*left:100-62-34=4*/
    bottom:8%;
}
.onpicture_2{
    bottom:8%;
    right:-32%;
}
.onpicture_3{
    top:8%;
    right:-32%;
}
.onpicture_4{
    top:8%;
    left:-32%;
}
.onpicture_1,.onpicture_2,.onpicture_3,.onpicture_4{
    position:absolute;
    width:32%;
    height:24%;
    background-color: rgba(20, 20, 20, 0.45);
    color:#fff;
    text-align:center;
    border:none;
}
#picture span:hover{
    background-color:#fff;
    color:rgba(20, 20, 20, 0.8);
}
#picture h3{
    margin-bottom:0;
}
#picture p{
    margin-top: 5px;
    margin-bottom:6px;
}

/****************/
.nav_content ul li{
    padding:0 2%;
}
.nav_content{
    height:80px;
    margin-top:-10px;
}
.nav_content p{
    margin-top:0;
}
/*TODO：1:、内容图片交互
        2、middle内容
        3、下面内容的自适应*/

.neirong{
    width:23%;
    margin-right:2.6%;
}
.middle3{
    margin-right:0;
}

.neirong>a>div{
    margin:5px;
}

/**************************/
.aside{
    position: absolute;
    width:124px;
    margin-top:49%;

}
.aside p{
    font-family:"微软雅黑 Light","微软雅黑";
    line-height:25px;
    margin-bottom:30px;
}
.aside h4{
    margin-bottom:0;
    border-bottom:1px dashed #ddd;
    padding-bottom:3px;
    color:#6a6a6a;
}

.aside a:hover{
    background-color:#EFF8F7;
}
.aside a span{
    float:left;
    width:19px;
    height:19px;
    margin:1px 5px 0 3px;
    background: url("../img/tubiao.png") -83px 0 no-repeat;
}


