.kuang{
    width:95%;
}
.nav ul li a{
    font-size: 1.5em;
}
.nav_content ul li h4{
    font-size:1.4em;
}

#bottom .neirong p{
    font-size:1.2em;
}
#bottom .neirong h4{
    font-size:1.4em;
}
#bottom .neirong span{
    font-size:1em;
}
#picture div div h3{
    font-size:1.6em;
}
#picture div div p{
    font-size:1.4em;
}
#middle h3{
    font-size:1.5em;
}

.header{
    overflow: hidden;
    width:100%;
    margin-bottom:10px;
}
.heading{
    width: 90px;
    height: 90px;
    background: url("../img/food-sense.png") no-repeat 0 0;
    border:1px solid red;
    float:left;
}
.nav{
    text-align: left;
    margin-top:20px;
    width: 100%;
}
.nav ul{
    list-style: none;
    padding:0;
    overflow: hidden;
    margin-right:5px;
    float:right;
}
.nav ul li{
    float: left;
   margin-left:25px;

}
.nav ul li img{
    margin-top:auto;
    margin-bottom:auto;
    width:55px;
    cursor: pointer;
}
.nav ul li a{
    display: block;
    text-align: left;




}
/******************/
.content{
    width:100%;
    padding-bottom:30px;
}
#picture img{
    max-width:100%;
}
#picture div span{
    display: none;
}
#picture div{
    overflow: visible;
    width:100%;
    height:auto;
    background:none;

}
#picture div div{
    position: absolute;
    top:0;
}
#picture div h3{
    display: none;
}
#picture div p{
    background:rgba(255,255,255,.5);
    text-align:left;
    padding-left:2%;
    color:#60BEAE;
    margin:0;
    display: none;

}


/****************/
.nav_content ul li{
    padding:0 2%;
}
.nav_content{
    height:36px;
}
.nav_content p{
    display: none;
}
.nav_content h4{
    line-height: 36px;
    margin:0;
    padding:0;
    text-align: center;
}
/****************/

.neirong{
    width:31%;
    margin-right:3%;
    margin-bottom: 10px;
}
.middle2{
    margin-right:0;
}

.middle3{
    clear: both;

}
/*.middle3 span{*/
    /*display:none;*/
/*}*/
.neirong>a>div{
    margin:3px;
}
.aside{
    display: none;
}