.kuang{
    width:1180px;
}
.header{
    float: left;
    overflow: hidden;
    width:18%;
}
.heading{
    width: 90px;
    height: 90px;
    background: url("../img/food-sense.png") no-repeat 0 0;
    border:1px solid red;
    margin-left:20px;
}
.nav{
    text-align: left;
    margin-top:20px;
    width: 100%
}
.nav ul{
    list-style: none;
    padding:0;
}
.nav ul li{
    position:relative;
    height:32px;
    line-height:32px;
    margin-bottom: 18px;

}
.nav ul li img{
    display:block;
    margin-top:auto;
    margin-bottom:auto;
    top:0;
    bottom:0;
    position: absolute;
    width:33%;
}
.nav ul li a{
    font-size:1.1em;
    display:block;
    position:absolute;
    text-align: left;
    height:32px;
    left:40%;
    width:70%;

}

/******************/
.content{
    width:80%;
}

.content_content .content_img img{
    max-width: 100%;

}
.xiangxi{
    color:#777;
}
 .content_img{
    width:60%;
}
.content_img1{
    float: right;
}
.content_img2{
    width:100%;
}
.content_content .xiangxi{
    border-left:1px solid #aaa;
    padding-left:20px;
}
/**************************/
/******************/
#content .no{
    display: none;
}
#content .center .center2{
    width:60%;
    float:right;
}
#content .center span{
    position: absolute;
    bottom:10px;
    letter-spacing: 0;
    font-size: 12px;
}
#content .content_bottom div{
    width:40%;
    float:left;
    padding-right:30px;
    box-sizing: border-box;
}
#content .content_bottom>p{
    float:right;
    width:60%;
    font-weight:400;
    margin-top:0;
    margin-bottom:35px;
}
#content .content_bottom p strong{
    font-size: 15px;
    margin-right:5px;
    font-weight:600;

}
#content .content_bottom div p{
    margin-top:2px;
    margin-bottom:3px;
}
/*************************/
.aside{
    position: absolute;
    width:140px;
    margin-top:670px;

}
.aside p{
    font-size: 8px;
    font-family:"微软雅黑 Light","微软雅黑";
    line-height:25px;
    margin-bottom:30px;
}
.aside h4{
    margin-bottom:0;
    border-bottom:1px dashed #ddd;
    padding-bottom:3px;
    font-size:15px;
    color:#6a6a6a;
}
.aside a{
    display: block;
    width:136px;
    font-size: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px 2px 5px 0;

}
.aside a:hover{
    background-color:#EFF8F7;
}
.aside a span{
    float:left;
    width:19px;
    height:19px;
    margin:1px 5px 0 3px;
    background: url("../img/tubiao.png") -83px 0 no-repeat;

}