body{
    font-size:12px;
}
.kuang{
    width:300px;
}

.header{
    overflow: hidden;
    width:100%;
    margin-bottom:10px;
    height:130px;
    position: relative;
}
.heading{
    height: 90px;
    width:90px;
    background: url("../img/food-sense.png") no-repeat 0 0;
    margin:50px auto;
    padding-top:20px;
}

.nav{
    position: absolute;
    width:90%;
    top:0;
    left:5%;
    padding-bottom:13px;
    border-bottom: 1px solid #E5E5E5;
    box-shadow: 0 1px 0 #F5F5F5;

}
.nav ul{
    list-style: none;
    padding:0;
    margin: 0;
    overflow: hidden;
}
.nav ul li{
    float: left;
    font-size:12px;
    width:20%;
}
.nav ul li img{
    display: none;
}
.nav ul li a{
    display: block;
    text-align: center;
}
/******************/
.content{
    width:100%;
    padding-bottom:30px;
}
#picture img{
    max-width: 100%;
}

#picture span{
    font-size:12px;
    margin-top:3px;
    line-height:20px;
    width:40px;
    height:18px;
}
/*more*/
#picture div span{
    display: none;
}
#picture div{
    overflow: visible;
    width:100%;
    height:auto;
    background:none;

}
#picture div div{
    position: absolute;
    bottom:-20px;
    left:0;
}
#picture div h3{
    font-size:12px;
    margin:0 0 0 0;
    text-align:left;
    background:rgba(255,255,255,.5);
    color: #141414;
    padding:0 2% 0 2%;
    display: inline-block;
}
#picture div p{
    background:black;
    font-size:12px;
    margin:0;
    text-align:left;
    padding-left:2%;
    color:#fff;

}
/****************/
.nav_content{
    display: none;
}
/****************/

.neirong{
    width:80%;
    left:10%;
    margin-top:35px;
    padding:6px;
}
.middle0{
    margin-top:8px;
}
.middle3 {
    margin-bottom:8px;
}
.neirong{
    border:1px solid #F0F0F0;
    box-shadow:3px 3px 6px #F0F0F0;
}
#bottom .neirong h4{
    margin:0;
    background:black;
    color:#fff;
    text-align:right;
    padding-right:1%;
}

.neirong a{
    border:none;
}
.neirong h4 span{
    display: none;
}
.aside{
    display: none;
}
#middle {
    font-size:14px;
    margin:35px auto 0;
    width:80%;
}
#middle h3{
    text-align: center;
}
.footer{
    width: 90%;
    margin:0 auto;
}